.page{
    display:flex;
    font-family:"Roboto", sans-serif;
    flex-flow: column;
    justify-content:space-between;
    padding: 0;
}

.header{
    flex: 0 0 120px;
    align-self: stretch;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    background:#eee;
          
}

.header-logo{

    flex: 0 0 25%;
    display: flex;
    justify-content: flex-start;
}
.logo__picture{
    cursor: pointer;
}
.logo__picture:hover{
    opacity: .8;
}
.logo__picture:active{
    opacity: .3;
}

.header__basket{
    flex: 0 0 25%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end; 
}
.item__button--size{

font-family: "Roboto" sans-serif;
text-decoration: none;
color: #000;
text-transform: uppercase;
}

.item__button--size:hover{
    color:#fb565a;
   
}
.item__button--size:active{
    opacity: .3;
} 

.item__row{
    flex: 0 0 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.fa{
    margin-right: 10px;
    color:gray;
}




.slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background:#eee;
}

.container{
    flex-basis: 87%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.slider__text{
    
    order:0;
    flex: 5 0 0;
}

.slider__text--h1{
    font-size:55px;
     line-height: 1;
}


.slider__btn--size{
    background-color: #fb565a;
    width: 240px;
    
}
 
.button {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    border-radius: 6px;
    margin-top: 50px;
}

.button:hover{
    background:#e74246;
   
}

.button:active{
    opacity: .3;
} 

.slider__img{
    
    order: 1;
    flex: 6 0 0;
}





.order{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 425px;
    align-items: center;
}
.order-item{
    margin: 50px 0;
}

.order__text--h1{
    font-size: 1.17em;
    font-weight: bold;
    text-transform: uppercase;
}

.order__btn--size{
    background-color: #fb565a;
    width: 170px;
}
.order__btn--size2{
    background-color: #00ca74;
    width: 170px;
}
.order__btn--size3{
    background-color: #efc849;
    width: 170px;
}

.info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.info__text--h1{
    font-size: 45px;
    margin-bottom: 0;
}
.info__text--h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.info__text--list{
    list-style: none;
}
.info__text--list li{
    padding-bottom:27px; 
}
.info__text--list li::before{
    content: "___";
    color: #e74246;
}
.container--border{
    border-top: 2px solid #eeeeee;

}

.info__image{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.boxStatic{
    display: flex;
}
.boxStatic__text--h{
    font-size:45px;
    margin: 0;
}

.boxStatic__1{
    flex: 2 0 0;
}
.boxStatic__text--h sup{
    vertical-align: text-top;
    font-size: 30px;
    padding-bottom: 5px;
}




.advertis{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
    align-items: center;
}

.advertis__picture{
    cursor: pointer;
    opacity: .3;
}
.advertis__picture:hover{
    opacity: 1;
   
}
.advertis__picture:active{
    opacity: .2;
}



.map{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 400px;
    align-items: center;
    background-image:url(image/map1.jpg);
    background-size:100%;
}

.contact{
    background: white;
    padding: 35px;
    display: flex;
    flex-flow: column;
}

.contact--h{
    font-size: 18px;
}
.contact--p{
    margin-bottom: 0;
    color: #a7a7a7;
}

.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.socialIcon{
    flex: 1 0 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-basis: 300px;
    justify-content: center;
}

.socialIcon--size{
    background: #635f5f;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.socialIcon--size:hover{
    background: #e74246;
}
.socialIcon--size:active{
    background: #d7373b;
}
.socialIcon__picture:active{
    opacity: .3;
}

.goFriend{
    flex: 3 0 0;
}
.goFriend--h{
    font-size:30px;
    margin-bottom: 0; 
}





.market{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.title__text--h1{
    font-size:55px;
    line-height: 1;
    text-align: center;
}
.slide{
    height: 180px;
}
.slide__body{
    flex-basis: 200px
}

.slide--p{
    text-transform: uppercase;
    }

.label{
    display: flex;
}
.label__size{
    background: #eee;
    border: none;
    text-align: center;
    width: 60px;
    border-radius: 6px;
}