.page{
    display:flex;
    font-family:"Roboto", sans-serif;
    flex-flow: column;
    justify-content:space-between;
    padding: 0;
}

.header{
    flex: 0 0 120px;
    align-self: stretch;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    background:#eee;
          
}

.header-logo{

    flex: 0 0 25%;
    display: flex;
    justify-content: flex-start;
}
.logo__picture{
    cursor: pointer;
}
.logo__picture:hover{
    opacity: .8;
}
.logo__picture:active{
    opacity: .3;
}

.header__basket{
    flex: 0 0 25%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end; 
}
.item__button--size{

font-family: "Roboto" sans-serif;
text-decoration: none;
color: #000;
text-transform: uppercase;
}

.item__button--size:hover{
    color:#fb565a;
   
}
.item__button--size:active{
    opacity: .3;
} 

.item__row{
    flex: 0 0 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.fa{
    margin-right: 10px;
    color:gray;
}




.slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background:#eee;
}

.container{
    flex-basis: 87%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.market2__container{
    flex-basis: 87%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.container__catalog{
    flex-basis: 87%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.slider__text{
    
    order:0;
    flex: 5 0 0;
}

.slider__text--h1{
    font-size:55px;
     line-height: 1;
}


.slider__btn--size{
    background-color: #fb565a;
    width: 240px;
    outline: none;
    border: none;
}
 
.button {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    border-radius: 6px;
    margin-top: 50px;
    outline: none;
}
.modal__info--button{
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-top:20px;
    outline: none; 
}
.modal__buttom{
    text-decoration: none;
}

.button:hover{
    background:#e74246;
   
}

.button:active{
    background-color: #d7373b;
} 

.slider__img{
    
    order: 1;
    flex: 6 0 0;
}





.order{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 425px;
    align-items: center;
}
.order-item{
    margin: 50px 0;
}

.order__text--h1{
    font-size: 1.17em;
    font-weight: bold;
    text-transform: uppercase;
}

.order__btn--size{
    background-color: #fb565a;
    width: 170px;
    border: none;
    outline: none;
}
.order__btn--size2{
    background-color: #00ca74;
    width: 170px;
    border: none;
    outline: none;
}
.order__btn--size2:hover{
    background-color:#00bc6c; 
}
.order__btn--size2:active{
    background-color: #00aa62;
}
.order__btn--size3{
    background-color: #efc849;
    width: 170px;
    outline: none;
    border: none;
}
.order__btn--size3:hover{
    background-color:#eab534; 
}
.order__btn--size3:active{
    background-color: #e5a722;
    
}
.info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.info__text--h1{
    font-size: 45px;
    margin-bottom: 0;
}
.info__text--h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.info__text--list{
    list-style: square;
}
.info__text--list li{
    padding-bottom:27px; 
}
.container--border{
    border-top: 2px solid #eeeeee;

}

.info__image{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.boxStatic{
    display: flex;
}
.boxStatic__text--h{
    font-size:45px;
    margin: 0;
}

.boxStatic__1{
    flex: 2 0 0;
}
.boxStatic__text--h sup{
    vertical-align: text-top;
    font-size: 30px;
    padding-bottom: 5px;
}




.advertis{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
    align-items: center;
}

.advertis__picture{
    cursor: pointer;
    opacity: .3;
}
.advertis__picture:hover{
    opacity: 1;
   
}
.advertis__picture:active{
    opacity: .2;
}



.map{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 400px;
    align-items: center;
    background-image:url(image/map1.jpg);
    background-size:100%;
}

.contact{
    background: white;
    padding: 35px;
    display: flex;
    flex-flow: column;
}

.contact--h{
    font-size: 18px;
}
.contact--p{
    margin-bottom: 0;
    color: #a7a7a7;
}

.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.socialIcon{
    flex: 1 0 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-basis: 300px;
    justify-content: center;
}

.socialIcon--size{
    background: #635f5f;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.socialIcon--size:hover{
    background: #e74246;
}
.socialIcon--size:active{
    background: #d7373b;
}
.socialIcon__picture:active{
    opacity: .3;
}

.goFriend{
    flex: 3 0 0;
}
.goFriend--h{
    font-size:30px;
    margin-bottom: 0; 
}





.market, .market2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.title__text--h1{
    font-size:55px;
    line-height: 1;
    text-align: center;
}
.slide{
    height: 230px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.slide__body{
    height: 49px;
    background: #eee;
    border-radius: 3px;
}

.slide--p{
    text-transform: uppercase;
    }

.label{
    display: flex;
}
.label__min{
    display: flex;
    flex:1 0 0;
}
.label__max{
    display: flex;
    flex:1 0 0;
}
.label__size{
    background: #eee;
    border: none;
    text-align: center;
    border-radius: 6px;
}
.form{
    display: flex;
    flex: 0 0 30%;
    
}


.template{
    
    flex: 0 0 70%;
    display: flex;
    justify-content: space-between;
}
.form__title--h1{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.template__sort{
    flex:0 0 50%;
}
.template__category{
    display: flex;
    justify-content: space-around;
    flex:0 0 50%;
    align-items: center;
}
.template__category--p{
    font-size:14px;
    text-transform: uppercase;
    opacity: .3;
    cursor: pointer;
}
.template__category--opacity{
    opacity: .3;
    cursor: pointer;
}
.template__category--opacity:hover{
    opacity: .6;
}
.template__category--opacity:active{
    opacity: 1;
}

.icon__up{
    opacity: .4;
}
.form__container{
    flex:0 0 70%;
    display:  flex;
    flex-flow: column;
}
.form__container--opacity{
    flex:0 0 30%;
}
.slide{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
    align-content: flex-start;
    height: auto;
}
.slide__box{
    flex: 0 0 100%;
    background: #eee;
    height: 67px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box__row{
    height: 2px;
    background: #d7dcde;
    flex-basis: 80%;
    display: flex;
}
.box__row--active{
    height: 2px;
    background: #00ca74;
    flex-basis: 67%;
    display: flex;
    justify-content: space-between;
}
.box__row--btn{
    margin: -10px;
    cursor: pointer;
    outline: none;
    border: none;
}
.box__row--btn:active{
    cursor: pointer;
}
.slide__sum--min{
    flex:0 0 40%;
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: 30px;

}
.slide__sum--max{
    flex: 0 0 40%;
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: 30px;
}
.slide__sum--min--p{
    flex: 0 0 40%; 
}
.input__slide{
    max-width: max-content;
    height: 27px;
    
}
.slide__sum--min--input{
    width: 119%;
    height: 139%;
    border: none;
    background: #eee;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}
.grid, .hang{
    display: flex;
    flex-flow: column; 
}
.grid{
    height: 200px;
    justify-content: space-around;
    margin-bottom: 23px;
}
.radio--size{
    transform:scale(1.9);
    cursor:pointer;
    margin-right: 17px;
}
.hang{
    height: 250px;
    justify-content: space-around;
    
}
.button__view{
    align-self: center;
}
.button__view--size{
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    text-align: center;
    border-radius: 6px;
    margin-top: 50px;
    padding: 17px 78px;
    outline: none;
    border: none;
}
.template2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.template__number1, .template__number3, .template__number5{
    flex: 0 0 49%;
    display: flex;
    flex-flow: column;
    margin-bottom: 46px;
}

.template__number1:hover .template__design{
    background: #4d4d4d;
}
.template__number1:hover .modal__info--12{
    opacity: 1;
    pointer-events: auto;
}
.template__number2:hover .template__design{
    background: #4d4d4d;
}
.template__number2:hover .modal__info--12{
    opacity: 1;
    pointer-events: auto;
}
.template__number3:hover .template__design{
    background: #4d4d4d;
}
.template__number3:hover .modal__info--34{
    opacity: 1;
    pointer-events: auto;
}
.template__number4:hover .template__design{
    background: #4d4d4d;
}
.template__number4:hover .modal__info--34{
    opacity: 1;
    pointer-events: auto;
}
.template__number5:hover .template__design{
    background: #4d4d4d;
}
.template__number5:hover .modal__info--56{
    opacity: 1;
    pointer-events: auto;
}
.template__number6:hover .template__design{
    background: #4d4d4d;
}
.template__number6:hover .modal__info--56{
    opacity: 1;
    pointer-events: auto;
}
.template__design{
    background: #e9e9e9;
    height: 39px;
    display: flex;
    align-items: center;
}
.template__design--circle{
    height: 50%;
    border-radius: 50%;
    width: 5%;
    background: white;
    margin: 0 5px;
}

.modal__info--12{
    background: #eeeeee;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 397.77px;
    max-width: 100%;
    top: 720px;
    opacity: 0;
    pointer-events: none;
}
.modal__info--34{
    background: #eeeeee;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 397.77px;
    max-width: 100%;
    top: 1371px;
    opacity: 0;
    pointer-events: none;
}
.modal__info--56{
    background: #eeeeee;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 397.77px;
    max-width: 100%;
    top: 2032px;
    opacity: 0;
    pointer-events: none;
}
.modal__info--p{
    color: #666666;
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    flex-basis: 55%;
    align-items: center;
    margin-bottom: 52px;

}
.navigation__list--page{
    flex: 0 0 8%;
    text-align: center;
    background: #eee;
    flex-basis: 52px;
    font-weight: bold;
}
.navigation__list--next{
    flex: 0 0 30%;
    text-align: center;
    background: #eee;
    flex-basis: 229px;
    text-transform: uppercase;
    font-weight: bold;
} 
.navigation__list--page:hover, .navigation__list--next:hover{
    cursor: pointer;
    background: #dfdfdf;
}
.navigation__list--page:active, .navigation__list--next:active{
    background: #d5d5d5;
    opacity: .5;
}







.modalBackground {
    margin: 0; 
    padding: 0; 
    position: fixed; 
    top:0; 
    bottom:0;
    left:0;
    right:0;
    z-index:100; 
    opacity:0; 
    pointer-events: none; 
    }
.modalBackground:target {
    opacity: 1;  
    pointer-events: auto; 
}
.modalWindow {
    width: 60%;
	margin: 10% auto;
	padding: 2%;
	background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;

}
.modalWindow__size{
    display: flex;
    flex-flow: column;
    flex-basis: 70%;
}
.modalWindow__size--info{
    display: flex;
    justify-content: space-around;
}
.modalWindow_input{
    height: 25px;
    margin-bottom: 30px;
}
.modalWindow__size--h2{
    font-size: 45px;
    line-height: 45px;
}
.modalWindow--text{
    font-weight: bold;
}
.modalWindow__close{
    opacity: .4;
}
.modalWindow__close:hover{
    opacity: 1;
}
.modalWindow__close:active{
    opacity: .1;
}    